html {
    font-size: 20px;
}

body {
    font-family: "MyriadPro-Regular";
    width: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url(./font/myriadpro-regular.otf);
}

header, main {
    width: 90%;
    padding: 0;
    margin: 0 auto;
}

.logo > a {
    font-size: 4rem;
    color: black;
}

.logo {
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
}

span {
    color: #4BCAFF;
}

header .nav {
    background-color: #35444F;
    margin-bottom: 2rem;
}

header .nav > ul {
    list-style: none;
    width: 76%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

header .nav .item {
    float: left;
    width: 25%;
    text-align: center;
    
}

header .nav a{
    color: white;
    padding: 1rem 1.4rem;
    font-size: 1rem;
    display: inline-block;
    white-space: nowrap;
    /*border: 1px solid transparent;
    box-sizing: border-box;*/
}
 
header .nav a:hover {
    background-color: #222F3A;
    border-left: 1px solid white;
    border-right: 1px solid white;
    
}

main {
    overflow: hidden;
    margin-top: 2rem;
}
.main_nav {
    border: 1px solid black;
    display: inline-block;
    width: 25%;
}

.main_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.main_nav li {
    padding: 1rem 0;

}

.main_nav a {
    color: #35444F;
    padding-left: 1rem;
    font-size: 1.3rem;
    display: inline-block;
    width: 100%;
}

.main_nav li:hover {
    background-color: #DBDBDB;
    color: black;
    padding-left: 2rem;
    font-weight: 600;
}

.main_img_cont {
    overflow: hidden;
    display: inline-block;
    width: 70%;
    vertical-align: top;
    float: right;
}

.img {
    border: 1px solid black;
}
img {
    margin: 4rem auto;
    display: block;
}

.cont {
    padding: 2rem;
    font-size: .9rem;
    
}

footer {
    background-color: #B4B7BA;
    width: 90%;
    padding: 0;
    margin: 0 auto;
}

footer > ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

footer li > a {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    
}

footer ul > li:nth-child(6){
    float: right;
    padding-right: 1.5rem;
}

footer ul li a:hover {
    color: #3181A6;
    text-decoration: underline;
    
}