@color: #946FD3;
@color_w: white;

:root {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #354657;
}
.my_header, .my_footer {
    font-size: 1.5rem;
    .my_logo_div {
        padding-top: .8rem;
        padding-bottom: .8rem;
        text-align: left;
    }
    .row {
        text-align: center;
        .my_div_nav {
            padding-top: 3rem;
            padding-bottom: 3rem;
            white-space: nowrap;
        }
        a {
            padding-top: 3rem;
            padding-bottom: 3rem;
            text-decoration: none;
            color: #354657;
            font-weight: 700;
        }
    }
    .header_baner {
        background-image: url("../img/baner.png");
        background-repeat: round;
        background-size: 100%;
        height: 430px;
        transition: transform .7s ease-in;
        -webkit-transition: transform .7s ease-in;
        
        .my_baner_card {
            position: relative;
            background-color: inherit;
            top: 15%;
            left: 7%;
            color: white;
            width: 40%;
            border: none;

            .my-card-title {
                font-size: 4rem;
                font-weight: 900;
                
            }
            .card-text {
                font-size: 2.4rem;
                margin: 2rem 0;
            }
            .my-btn {
                background-color: @color;
                color: @color_w;
                font-size: 1.6rem;
                font-weight: 700;
                padding: 1rem 0;
                border: 2px solid @color;
                border-radius: 50px;
                width: 30%;
            }
        }
    }
    .header_baner:hover {
        transform: translateX(5rem);
        -webkit-transform: translateX(5rem);
    }
    .header_baner .my_baner_card .my-btn:hover {
        background-color: white;
        color: @color;
        border: 2px solid @color;
    }
}

.my_info-container {
    margin-top: 7rem;
    margin-bottom: 7rem;

    .my_row {
        --bs-gutter-x: 2.5rem;
    }
    
    .my_info_card {
        border: none;
        
        .my_c-body {
            padding: 0;
            padding-right: 8rem;
            margin-bottom: 1.5rem;

            .my_c-title {
                font-size: 3.6rem;
            }
            .my_c-text {
                margin-top: 3rem;
                margin-bottom: 4rem;
                font-weight: 400;
                font-size: 1.6rem;
            }
            .my_info-btn {
                background-color: @color;
                color: @color_w;
                font-size: 1.6rem;
                font-weight: 700;
                padding: 1rem 0;
                border: 2px solid @color;
                border-radius: 50px;
                width: 40%;
             }
        }
     }
    

    .info-img {
        width: 49rem;
        box-shadow: 2rem 2rem 0 #F0E5FF;
    }
}
.my_info-container .my_info_card .my_c-body .my_info-btn:hover {
    background-color: white;
    color: @color;
    border: 2px solid @color;
}

.my_c-f {
    background-color: #F0E6FF;
    height: 27rem;


.img_1 {
    position: relative;
    width: 22rem;
    right: -34rem;
    bottom: 3rem;
    z-index: 2;
    animation: first_anime 2s linear infinite;
    
}
.img_2 {
    position: relative;
    width: 17rem;
    right: -1rem;
    top: 1rem;
    z-index: 1;
    animation: second_anime 2s linear infinite;
    
}
.txt {
    padding-left: 8%;
    margin-top: 4rem;
        div:nth-of-type(1) {
            color: @color;
            font-size: 2rem;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
        div:nth-of-type(2) {
            color: #354657;
            font-size: 3.8rem;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            line-height: 4rem;
            margin-bottom: 2rem;
        }
        input {
            background-color: @color;
            color: @color_w;
            font-size: 1.6rem;
            padding: 1rem 0;
            width: 30%;
            border-radius: 50px;
            border: 2px solid transparent;
            font-weight: 700;
        }

}
}
.my_c-f .txt input:hover {
    background-color: white;
    color: @color;
    border: 2px solid @color;
}

@keyframes second_anime {
    from{transform: rotate(0) scale(1);
        -webkit-transform: rotate(0) scale(1);}
    50% {transform: rotate(180deg) scale(1.1);
        -webkit-transform: rotate(180deg) scale(1.1);}
    to {
        transform: rotate(360deg) scale(1);
        -webkit-transform: rotate(360deg) scale(1)
    }
}
@keyframes first_anime {
    from{
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.my-container {
    margin-top: 5rem;
    .my-t {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .my_card {
        border: none;
        color: #354657;
        font-family: 'Raleway', sans-serif;
        transition: .7s all linear;
        
        .my_btn {
            background-color: @color_w;
            color: @color;
            border: 2px solid @color;
            border-radius: 50px;
            padding: 1rem 0;
            width: 50%;
            font-size: 1.4rem;
            font-weight: 700;
        }
        .my_title {
            font-weight: 700;
        }
        .my_body {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.my_card:hover{
    transform: scaleX(-1) scaleX(-1);
    background-color: @color;
    color: @color_w;
    

    .my_btn {
    color: @color_w;
    background-color: @color;
    border: 2px solid @color_w;
    }
 }

.my_footer {
    margin-top: 5rem;
    border-top: 1px solid #E2E2E2;
    .my_foot-nav a {
        width: 100%;

    }
    
}

@media screen and (max-width: 576px) {
        .my_header .row .my_div_nav {
        padding-top: .5rem;
        padding-bottom: 1.5rem;
        
    }
    .my_footer .row .my_div_nav {
        padding-top: .5rem;
        padding-bottom: 1.5rem;
        
    }
        
        .my_header .header_baner{
            height: 12rem;
            background-repeat: round;
        }
        .my_header .header_baner .my_baner_card {
                width: 52%;
                top: 4%;
                left: 2%;
            }

        .my_header .header_baner .my_baner_card .my-card-title {
                    font-size: 1rem;
                    font-weight: 700; 
                }
        .my_header .header_baner .my_baner_card .card-text {
                    font-size: .8rem;
                    margin: .5rem 0;
                }
        .my_header .header_baner .my_baner_card .my-btn {
                    font-size: .6rem;
                    width: 50%;
                }
        .my_info-container .my_info_card .my_c-body {
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .my_info-container {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .my_info-container .my_info_card .my_c-body .my_c-title {
            font-size: 2.3rem;
        }
        .my_info-container .my_info_card .my_c-body .my_c-text {
            margin-top: 0.8rem;
            margin-bottom: 2rem;
        }
        .my_info-container .my_info_card .my_c-body .my_info-btn {
            width: 50%;
        }
        .my_info-container .info-img img {
            width: 310px;
        }
        .my_info-container .info-img {
            box-shadow: none;
            text-align: center;
        }
        .my_c-f {
            height: 14rem;
        }
        .my_c-f .img_1 {
            width: 7rem;
            right: -37%;
            bottom: -2rem;
        }
        .my_c-f .img_2 {
            width: 6rem;
            top: 3rem;
            right: 30%;
        }
        .my_c-f .txt {
            margin-top: 1rem;
            padding-left: 0;
        }
        .my_c-f .txt div:nth-of-type(1) {
            font-size: 1rem;
        }
        .my_c-f .txt div:nth-of-type(2) {
            font-size: 1.7rem;
            line-height: 1.7rem;
            margin-bottom: 1rem;
        }
        .my_c-f .txt input {
            width: 60%;
            padding: 0.6rem 0;
            font-size: 1.3rem;
        }
        .my-container {
            margin-top: 2rem;
        }
        .my-container .my-t {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .my_footer {
            margin-top: 2rem;
            .row {
                text-align: center;
            }
            .my-cont {
                margin-left: 1rem;
            }
            .row a {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

        }
       
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .my_header .row .my_div_nav {
        padding-top: .5rem;
        padding-bottom: 1.5rem;
    }
    .my_footer .row .my_div_nav {
        padding-top: .5rem;
        padding-bottom: 1.5rem;
    }

    .my_header .header_baner{
        height: 21rem;
        background-repeat: round;
    }

    .my_header .header_baner .my_baner_card {
        width: 45%;
        top: 8%;
        left: 4%;
    }
    
    .my_header .header_baner .my_baner_card .my-card-title {
        font-size: 2rem;
        font-weight: 700; 
    }
    .my_header .header_baner .my_baner_card .card-text {
        font-size: 1.5rem;
        margin: 1rem 0;
                    }
    .my_header .header_baner .my_baner_card .my-btn {
        font-size: 1.3rem;
        padding: .4 rem 0;
        width: 50%;
    }

    .my_info-container .my_info_card .my_c-body {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .my_info-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .my_info-container .my_info_card .my_c-body .my_c-text {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .my_info-container .my_info_card .my_c-body .my_info-btn {
        width: 30%;
    }
    
    .my_info-container .my_row {
        margin-bottom: 5rem;
    }

    .my_c-f {
        height: 13rem;
    }
    .my_c-f .img_1 {
        width: 12rem;
        left: 43%;
        bottom: 2rem;
    }
    .my_c-f .img_2 {
        width: 9rem;
        top: 0rem;
        left: -24%;
    }
    .my_c-f .txt {
        margin-top: 2rem;
        
    }
    .my_c-f .txt div:nth-of-type(1) {
        font-size: 1rem;
    }
    .my_c-f .txt div:nth-of-type(2) {
        font-size: 1.7rem;
        line-height: 1.7rem;
        margin-bottom: 1rem;
    }
    .my_c-f .txt input {
        width: 45%;
        padding: 0.6rem 0;
        font-size: 1.3rem;
    }
    .my-container {
        margin-top: 2rem;
    }
    .my-container .my-t {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .my_footer {
        margin-top: 1rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .my_header .row .my_div_nav {
        padding-top: .5rem;
        padding-bottom: 1.5rem;
    }
    .my_footer .row .my_div_nav {
        padding-top: .5rem;
        padding-bottom: 1.5rem;
    }


    .my_header .header_baner{
        height: 25rem;
        background-repeat: round;
    }

    .my_header .header_baner .my_baner_card {
        width: 45%;
        top: 8%;
        left: 4%;
    }
    
    .my_header .header_baner .my_baner_card .my-card-title {
        font-size: 2.5rem;
        font-weight: 700; 
    }
    .my_header .header_baner .my_baner_card .card-text {
        font-size: 1.5rem;
        margin: 1rem 0;
                    }
    .my_header .header_baner .my_baner_card .my-btn {
        font-size: 1.3rem;
        padding: .4 rem 0;
        width: 50%;
                    }
    .my_info-container .my_info_card .my_c-body {
        padding-right: 1rem;
        padding-left: 1rem;
                    }
    .my_info-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
                    }
    .my_info-container .my_info_card .my_c-body .my_c-text {
        margin-top: 2rem;
        margin-bottom: 2rem;
                    }
    .my_info-container .my_info_card .my_c-body .my_info-btn {
        width: 30%;
                    }
    .my_info-container .info-img {
        width: 490px;
                    }
    .my_info-container .my_row {
        margin-bottom: 5rem;
     
    }
    .my_c-f {
        height: 13rem;
    }
    .my_c-f .img_1 {
        width: 12rem;
        left: 43%;
        bottom: 2rem;
    }
    .my_c-f .img_2 {
        width: 9rem;
        top: 0rem;
        left: -16%;
    }
    .my_c-f .txt {
        margin-top: 2rem;
        
    }
    .my_c-f .txt div:nth-of-type(1) {
        font-size: 1rem;
    }
    .my_c-f .txt div:nth-of-type(2) {
        font-size: 1.7rem;
        line-height: 1.7rem;
        margin-bottom: 1rem;
    }
    .my_c-f .txt input {
        width: 45%;
        padding: 0.6rem 0;
        font-size: 1.3rem;
    }
    .my-container {
        margin-top: 2rem;
    }   
    .my_footer {
        margin-top: 2rem;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    .my_header .header_baner{
        height: 30rem;
        background-repeat: round;
    }

    .my_header .header_baner .my_baner_card {
        width: 45%;
        top: 15%;
        left: 4%;
    }
    
    .my_header .header_baner .my_baner_card .my-card-title {
        font-size: 3.5rem;
        font-weight: 900; 
    }
    .my_header .header_baner .my_baner_card .card-text {
        font-size: 2rem;
        margin: 1.5rem 0;
                    }
    .my_header .header_baner .my_baner_card .my-btn {
        font-size: 1.5rem;
        padding: .8 rem 0;
        width: 40%;
                    }
    .my_info-container .my_info_card .my_c-body {
        padding-right: 1rem;
        padding-left: 1rem;
                    }
    .my_info-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
                    }
    .my_info-container .my_info_card .my_c-body .my_c-text {
        margin-top: 2rem;
        margin-bottom: 2rem;
                    }
    .my_info-container .my_info_card .my_c-body .my_info-btn {
        width: 30%;
                    }
    .my_info-container .info-img {
        width: 310px;
        box-shadow: none;
                    }
    .my_info-container .my_row {
        margin-bottom: 3rem;
    }

    .my_c-f {
        height: 22rem;
    }
    .my_c-f .img_1 {
        width: 18rem;
        right: -48%;
        bottom: 2rem;
    }
    .my_c-f .img_2 {
        width: 15rem;
        right: 0rem;
        left: -16%;
    }
    .my_c-f .txt {
        margin-top: 3rem;
        
    }
    .my_c-f .txt div:nth-of-type(1) {
        font-size: 1.7rem;
    }
    .my_c-f .txt div:nth-of-type(2) {
        font-size: 3rem;
        line-height: 2.7rem;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
    }
    .my_c-f .txt input {
        width: 35%;
        padding: 0.9rem 0;
        font-size: 1.5rem;
    }
    .my-container {
        margin-top: 2rem;
    }   
    .my_footer {
        margin-top: 3rem;
    }
}
@media screen and (max-width: 374px){
    .my_c-f .img_1 {
        width: 6rem;
    }
    .my_c-f .img_2 {
        width: 5rem;
    }
    .my_footer {
        margin-top: 2rem;
    }

}

