html {
    font-size: 20px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #354657;
}

.container {
    width: 80%;
    margin: 7rem auto;
}

header {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #d4d3d3;
    padding-bottom: .8rem;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.reg, .info, .delivery, .payment, .commit {
    background-color: #F0F2F5;
    padding: 1rem;
    padding-bottom: 0.3rem;
}

.reg, .delivery {
    margin-bottom: 1.5rem;
}

.container_info {
    width: 32%;
}

span {
    font-size: 1rem;
    font-weight: 700;
}

.reg label, .delivery label, .payment label {
    font-size: .8rem;
}

.com {
    font-size: .6rem;
    font-weight: 400;
}

.container_order {
    width: 64%;
}

.info input {
    width: 90%;
    padding-left: .7rem;
    font-size: .7rem;
    color: #ADA8A8;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 0.5rem;
}

.info label, .commit label {
    font-size: .7rem;
    font-weight: 400;
}

.basket {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    margin-top: .8rem;
    border-collapse: collapse;
}

.header {
    font-size: .7rem;
    text-transform: uppercase;
    background-color: #F0F2F5;
    width: 700;
    text-align: center;
}

th {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.product {
    font-size: .7rem;
    width: 400;
    text-align: center;
}

.number input{
    padding: .3rem;
    width: 1.6rem;
}

.fiolet {
     background-color: #946FD3;
}

.red {
     background-color: #F83737;
}

button {
     width: 1.6rem;
     height: 1.6rem;
}

.price th:nth-child(4), .deliv th:nth-child(4), .total th:nth-child(4){
    font-weight: 700;
    font-size: .7rem;
    text-transform: uppercase;
    text-align: right;
}

.price th:nth-child(5), .deliv th:nth-child(5), .total th:nth-child(5){
    font-size: .8rem;
    font-weight: 400;
}

textarea {
    width: 99%;
    height: 4rem;
    padding-left: .7rem;
    font-size: .8rem;
    color: #ADA8A8;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 400;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

input, textarea {
    border-radius: .2rem;
    border: 1px solid #B6B6B6
}

.treatment {
    font-weight: 400;
    font-size: .8rem;
}

.pay {
    background-color: #946FD3;
    font-size: .8rem;
    padding: 1.4rem 1.2rem;
    color: white;
    white-space: nowrap;
    width: 9.5rem;
    text-align: center;
    line-height: .1rem;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    float: right;
    cursor: pointer;
}

.commit {
    padding-bottom: 4rem;
}