html {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-image: url(../img/Rectangle.png); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.container,.container__footer {
    margin: 0 auto;
    width: 60%;   
    padding: 0; 
}

.burger__menu {
    background-color: #F7654A;
    padding: .5rem .8rem;
    display: inline-block;
    float: right;
    color: white;
}

.burger__menu a {
    color: white;
}

.navigation {
    padding-top: 1.5rem;
}

.title,.subtitle {
    color: white;
    text-transform: uppercase;
    text-align: center;

}
.title {
    font-size: 3.2rem;
    font-weight: 500;
    width: 80%;
    margin: 4.8rem auto 0rem;
}

.subtitle {
    font-size: .9rem;
    font-weight: 400;
    width: 80%;
    margin: 2.1rem auto 0rem;
}

.info {
    color: #F7654A;
    font-size: 3.6rem;
    font-weight: 500;
    
    background-color: #F7F7F7;
    padding: 2.3rem 5% 1.2rem;
    margin-top: 6.6rem;
    overflow: hidden;
}

.info div {
    float: left;
    width: 25%;
    text-align: center;
}

section {
    padding: 0 5% 2.8rem;
    overflow: hidden;
}

article {
    float: left;
    width: 25%;
    text-align: center;
    font-weight: 500;
}

.container .text,.title__news {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.text__footer {
    font-size: .9rem;
    color: #999999;
}

.container>.title__news {
    margin: 4.5rem auto 3.2rem;
    color: black;
    text-align: center;
    font-weight: 500;
    width: 100%;
}
    
.card__box {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    width: 350px;
    border-radius: 0;
    border: none;
}

.card>img {
    height: 380px;
    width: 350px;
}

.line {
    width: 20%;
    height: .3rem;
    background-color: #F7654A;
    margin-top: 2.2rem;
    margin-bottom: .7rem;
}

.card__title {
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.card__footer {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    color: #999999;
    font-weight: 400;
}

footer {
    background-color: #F7654A;
    margin-top: 1.5rem;
}

footer>.container {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
}

.title__footer {
    text-align: left;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.title__1 {
    font-size: 2.5rem;
}

.title__2 {
    font-size: 1.2rem;
}

footer>.container .mail {
    margin-top: 1.5rem;
    text-align: center;
    background-color: white;
    height: 2.9rem;
    

}
.mail>a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7rem;
    padding: .9rem 2rem .9rem 2rem;
    background-color: white;
    width: 100%;
    color: black;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    border: none;
}
.mail>a::before {
    content: "";
    width: .95rem;
    height: .7rem;
    display: inline-block;
    margin-right: .6rem;
    background-image: url('../img/mail.png');
}   


