html {
    font-size: 20px;
    background-image: linear-gradient(45deg, rgb(51, 48, 48), rgb(51, 48, 48)), url("../img/back.png");
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-size: cover;
    color: white;
    font-family: Verdana;
}

@font-face {
    font-family: Verdana, "Verdana-Bold", sans-serif;
    src: url(./font/Vernana-Bold.ttf), url(./font/Vernana.ttf),;
}

header {
    padding: 2rem 7.8rem;
    overflow: auto;
}

.logo {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Verdana-Bold";
    font-weight: 600;
    line-height: 1.2rem;
}

.logo:hover {
    color: #f26522;
}

.img:hover {
    background-image: url(../img/logo_1.png);
    color: #f26522;

}

.img {
    width: 46px;
    height: 44px;
    background-image: url(../img/logo.png);
}

.logo>.img {
    float: left;
    display: inline-block;
    margin-right: .7rem;
}

.logo_tip {
    display: inline-block;
}

main {
    padding: 0 7.8rem;
    overflow: auto;
}

header span {
    letter-spacing: 1px;
    font-size: .9rem;
}

.contact {
    float: right;
    display: inline-block;
    text-align: right;
}

header a {
    text-decoration: none;
    color: white;
}


.block11, .block12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 30%;
    height: 250px;
    display: inline-block;
}

.block11 .bg_1 {
    background-image: url("../img/Layer 21.png");
    height: 200px;
    border-left: ;
    position: relative;
}

.block11 .bg_2 {
    background-image: url("../img/Layer 22.png");
    height: 200px;
    position: relative;
}

.block11 .bg_3 {
    background-image: url("../img/Layer 23.png");
    height: 200px;
    position: relative;
}

.block12 .bg_1 {
    background-image: url("../img/Layer 24.png");
    height: 200px;
    position: relative;
}

.block12 .bg_2 {
    background-image: url("../img/Layer 25.png");
    height: 200px;
    position: relative;
}

.block12 .bg_3 {
    background-image: url("../img/Layer 26.png");
    height: 200px;
    position: relative;
}

.card > .title {
    text-align: center;
    font-size: .9rem;
    padding-top: .8rem;
}

.card .price {
    font-size: .5rem;
    display: inline-block;
    margin-left: 1rem;
    margin-top: .5rem;
}

.card .price > span {
    font-size: 1rem;
}

.card .details {
    font-size: .7rem;
    display: inline-block;
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
}

.card .info2 {
    position: absolute;
    bottom: 0;
    height: 0px;
    width: 100%;
    background-color: #f26522;
    overflow: hidden;
    transition: all .4s;
}

.card:hover .info2 {
    height: 63px;
}

.card:hover .title {
    color: #f26522;
}
