.container {
     width: 50%;
     margin: 0 auto;
     box-shadow: 1px 1px 10px gray;
     padding: 0 auto;
}
 
.container_box {
    margin: 0 auto;
    width: 58%;
    display: flex;
}
 
fieldset {
    padding-left: 1.5rem;
    margin-top: 1.3rem;
     width: 400px;
     display: flex;
     justify-content: center;
     border-left: none;
     border-right: none;
     border-bottom: none;
     border-top: 2px solid #cfcfcf;
 }

legend {
     font-weight: bold;
     padding-inline-end: 1rem;
     padding-inline-start: 1rem;
     color: #162a97;
}

 .input_address,.input_info {
     margin-left: 1rem;
}

input {
    border-color: #ddd1d1;
}

span {
    font-weight: bold;
}

.label_info,.label_address {
    line-height: 21px;
}

