body {
    margin: 0px;
    width: 750px;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    background-color: #2d7053;
    height: 235px;
    display: inline-block;
    
}

.circle {
    height: 141px;
    width: 141px;
    background-color: white;
    border-radius: 50%;
    margin: 47px 0px 47px 38px;
    display: inline-block;
    float: left;
}

.text {
    height: 131px;
    width: 134px;
    margin: 52px 251px 52px 58px;
    text-transform: capitalize;
    display: inline-block;
    font-size: 1.85em;
    color: white;
}

.menu {   
    background-image: url("../img/menu.png");
    width: 84px;
    height: 68px;
    float: right;
    margin: 83px 44px 84px 0px;
    display: inline-block;
}

.kabinet {
    background-image: url(../img/kab-psix.png);
    height: 466px;
    width: 750px;
    display: inline-block;
}

.knopka {
    height: 18px;
    width: 341px;
    background-color: #cb9223;
    margin: 345px 204px 47px 205px;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 1.17em;
    padding: 28px;
    text-decoration: none;
}

.body {
    display: inline-block;
    width: 750px;
}

.foto {
    height: 247px;
    width: 247px;
    background-image: url(../img/psix.png);
    border-radius: 50%;
    margin: 73px 0px 60px 44px;
    float: left;
}

.info {
    width: 50%;
    margin-top: 134px;
    margin-bottom: 138px;
    margin-left: 75px;
    font-size: 27px;
    display: inline-block;
    font-weight: 500;
}

.info2 {
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
}

.text1 {
    height: 166px;
    width: 546px;
    margin-top: 0px;
    margin-left: 44px;
    font-size: 1.289em;
    text-align: left;
}

.text2 {
    margin-top: 40px;
    margin-left: 44px;
    font-size: 27px;
    text-align: left;
    font-weight: 500;
}

.text3 {
    margin-top: 40px;
    margin-left: 44px;
    font-size: 20px;
    text-align: left;
    
}
ul {
    list-style-type: none;
}

.knopka2 {
    height: 18px;
    width: 341px;
    background-color: #cb9223;
    margin: 44px 191px 50px 218px;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 1.17em;
    padding: 28px;
    text-decoration: none;
}

.bottom {
    height: 153px;
    width: 750px;
    background-color: #888888;
    display: inline-block;
}

.circle2 {
    height: 96px;
    width: 96px;
    background-color: white;
    border-radius: 50%;
    margin: 29px 0px 28px 45px;
    display: inline-block;
    float: left;
}

.ul {
    height: 17px;
    width: 203px;
    display: inline-block;
    font-size: 1em;
    margin: 102px 0px 34px 180px;
    color: white;
    font-weight: 600;
}

.contact {   
    width: 144px;
    height: 97px;
    float: right;
    margin: 56px 44px 38px 38px;
    text-align: right;
    display: inline-block;
    color: white;
    font-size: 1em;
    line-height: 2.2em;
    font-weight: 600;
}

.tel {
    color: white;
    text-decoration: none;
}

.mail {
    color: white;
    text-decoration: none;
}
