:root {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #354657;
    font-weight: 700;
}

header {
    background-color: #F4EFFA;
}

.header_container, .footer_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.header__logo {
    width: 35%;
    padding: 2rem 0;
}

.header__logo a{
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.header__nav, .footer__nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    font-size: 1.6rem;
    width: 50%;
    justify-content: space-between;
}

.nav div, .profile div, .subnav div, .subprofile div {
    align-self: center;
}

.nav a, .subnav a {
    text-decoration: none;
    color: #354657;
    cursor: pointer;
    width: 100%;
    padding: 4rem 1rem;
}

.profile {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.profile a {
    width: 100%;
    padding: 4rem 1rem;
    padding-top: 5rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 1.2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2rem;
}

.card {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.card__img img {
    width: 100%;
}

.card__title {
    font-size: 2rem;
}

.card__description {
    font-weight: 400;
    font-size: 1.2rem;
}

.card__btn > input {
    width: 50%;
    padding: 1rem 0;
    border-radius: 50px;
    background-color: white;
    border: 2px solid #946FD3;
    color: #946FD3;
    font-size: 1.4rem;
    transition: all .7s;
    cursor: pointer;
}

.card:hover input {
    color: white;
    border-color: white;
    background-color: #946FD3;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 400px;
    gap: 1.5rem;
}

.contacts > div:nth-of-type(1) {
    background-color: #F0F2F5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
}

.contacts > div:nth-of-type(2) iframe {
    width: 100%;
    height: 100%;
}

.address, .tel, .write {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

.img__address, .img__tel, .img__write {
    border: 2px solid #D6D9DE;
   width: 60px;
   height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-right: 1.5rem;
    align-self: center;
}

.img__address {
    background: url(../img/cursor.png) no-repeat;
    background-position: center;
}

.img__tel {
    background: url(../img/tel.png) no-repeat;
    background-position: center;
}

.img__write {
    background: url(../img/email.png) no-repeat;
    background-position: center;
}

.header__address, .header__tel, .header__write {
    font-size: 2rem;
    font-weight: 700;
    width: 85%;
}

.sub__address {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 1rem;
}

.tel a, .write a {
    font-size: 1.6rem;
    color: #946FD3;
    text-decoration: none;
}

.contacts input {
    width: 100%;
    padding: 1.5rem 0;
    border-radius: 50px;
    background-color: #946FD3;
    border: 2px solid #946FD3;
    color: white;
    font-size: 1.6rem;
    transition: all .7s;
    cursor: pointer;
    margin-bottom: 3rem;
}

.contacts input:hover {
    color: white;
    background-color: #C6B1E6;
    border: 2px solid #C6B1E6;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}

.footer_container {
    margin-top: 2rem;
}

.subnav {
    display: flex;
    font-size: 1.6rem;
    width: 35%;
    justify-content: space-between;
}

a {
    white-space: nowrap;
}

.subprofile {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.profile a, .subprofile a {
    width: 100%;
    padding: 4rem 0;
    padding-top: 5rem;
}


@media screen and (max-width:800px){
    :root {
        font-size: 15px;
    }

    .header_container, .footer_container {
        width: 80%;
        flex-direction: column;
    }

    .header__logo {
        display: block;
        padding-top: .8rem;
        padding-bottom: 0;
    }

    .header__nav, .footer__nav {
        width: 100%;
        flex-direction: column;
    }

    .nav {
        width: 100%;
    }

    .nav  a, .subnav a{
        width: 100%;
        font-size: 1.1rem;
        padding: 0;
    }

    .profile {
        padding: 1rem 0;
        width: 30%;
    }

    .subprofile {
        width: 70%;
        padding: 1rem 0;
        display: flex;
    }

    .profile a, .subprofile a {
        padding: 0;
    }

    .contacts > div:nth-of-type(1) {
        padding: 0 0.5rem;
    }
   
    .wrap {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .card__title, .card__description, .card, .title {
        margin: 1rem 0;
    }

    .card__btn > input {
        width: 100%;
    }

    .card {
        padding-bottom: 0;
    }

    .title {
        margin-bottom: 1rem;
    }

    .contacts {
        grid-template-columns: 1fr;
    }

    .contacts input {
        font-size: 1.3rem;
    }

    span {
        font-size: 1.4rem;
    }

    .sub__address, .sub__tel a, .sub__write a {
        font-size: 1.1rem;
    }
    
    .address, .tel, .write, .contacts input {
        margin-top: 1.5rem;
    }

    .contacts input {
        margin-bottom: 1.5rem;
    }

    .subnav {
        width: 70%;
        display: flex;
    }
    
}